<footer class="footer">
    <div class="footer-container">

        <div class="footer-section">
            <h3>Follow Me</h3>
            <a href="https://www.linkedin.com/in/pitchapati-karunya-reddy-1500162a8" target="_blank">LinkedIn</a>
        </div>

        <div class="footer-section">
            <h3>Contact</h3>
            <p>Feel free to reach out</p>
            <a href="mailto:pitchapatikarunyareddy@gmail.com">
                pitchapatikarunyareddy@gmail.com
            </a>
        </div>

    </div>

    <div class="footer-bottom">
        <p>© Karunya Reddy 2026</p>
    </div>
</footer>